@model BurritoBarn.Models.ApproveUsersViewModel
@{
    ViewBag.Title = "Approve Users";
}
@section scripts
{
    @Scripts.Render("~/bundles/approveUsers")
}
<h2>Approve Users</h2>

<div class="usersToApproveList">
    @foreach (var employee in Model.Employees)
    {
        <div data-employee-id="@employee.id" class="row">
            <div class="col-xs-1">
                <span class="clickable"><i class="fa fa-check fa-2x good"></i></span>
            </div>
            <div class="col-xs-1">
                <span class="clickable"><i class="fa fa-times fa-2x bad"></i></span>
            </div>
            <div class="col-xs-12">
                <p>
                    @employee.firstName @employee.lastName
                </p>                
            </div>
        </div>
    }
</div>

