
@{
    ViewBag.Title = "Awaiting";
}

<h2>Please Allow 4 to 2354 Business Days to Complete Your Registration</h2>

<p>Here at the Burrito Barn we overlook each application by hand to ensure that only the highest level burrito eating sons a bitches get in.</p>

